.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--grayDark);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo__text{
    font-size: larger;
}

.logo__text-color{
    font-size: larger;
    color: var(--blueGray);
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}