
.background__register{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../assets/img/Fondo.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper{
    position: relative;
    width: 420px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(225, 255, 255, .1);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;

}

.wrapper.activate{
    height: 520px;

}

.wrapper .form-box{
    width: 100%;
    padding: 40px;

}

 


.form h1{
    font-size: 36px;
    text-align: center;
}

.form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-box input{
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .1);
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#fff;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

.input-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}


.form button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow:  0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;

}

.form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15;
}

.register-link p a{
    color: #12fff3;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
    color: #fff;
}

.register-link{
    font-size: 14.5px;
    display:flex;
    padding-top: 10px;
    color: #ffffff
}
.HiperVinculo{
    color: rgb(37, 234, 248)
}