@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --blue: #5051F9;
  --grayLight: #F3F7FA;
  --gray: #717171;
  --blueIcon: #5F6388;
  --grayDark: #E8EAFF;
  --blueGray: #232360;
  --greenSucess: #44E75D;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

#root{
  width: 100vw;
  height: 100vh;
}

.swal2-container{
  z-index: 4000;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
  z-index: 6000 !important;
}